.column {
  border: solid 1px lightgray;
  width: 350px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.columnTitle {
  margin-bottom: 20px;
}

.taskList {
  padding: 8px;
  margin-bottom: 8px;
  flex-grow: 1;
}

.addTaskButton {
  margin-top: auto;
  width: 100%;
}
