.imagesPreview {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 10px;
  padding: 10px;
}

.image {
  width: 100%;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
