.input,
.errorInput {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #181818;
}
